---
title: 2D graphics sample 01
date: 2023-02-07
categories: JavaScript
---

<!--
  - # 2023-02-07-2d-graphics-sample-01.liquid.html
  -
  - ```yaml
  - --metadata-ctm:
  -   created: 2023-02-07
  -   last-updated: 2023-02-09
  -   author: gh-jpkt
  -   title:
  -   digest: Sample demonstrating 2D canvas.
  - ```
  -->

<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include head/meta--head.liquid.html %} {% include
    head/title--head.liquid.html title=page.title %}
    <link
      rel="stylesheet"
      href="/assets/css/2023-02-07-2d-graphics-sample-01.css"
    />
    <script type="importmap">
      {
        "imports": {
          "modules/": "/assets/modules/"
        }
      }
    </script>
    <!--
      - DEV: Moved this script file to the `modules` folder
      -     only to enable IntelliSense.
      - TODO: Move it to the original location after development.
      -->
    <!-- script type="module" src="/assets/js/2023-02-07-2d-graphics-sample-01.mjs"></script-->
    <script
      type="module"
      src="/assets/modules/2023-02-07-2d-graphics-sample-01.mjs"
    ></script>
  </head>
  <body>
    <header>{% include header/default--header.liquid.html %}</header>
    <main>
      <h1>{{ page.title }}</h1>
      <section>
        <div id="wrapper" class="canvas-wrapper">
          <canvas id="canvas" class="canvas-box"></canvas>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
