---
title: 複数の画像を1ページに収めて印刷するWeb app
date: 2023-02-01
categories: tools
---

<!--
- date-created: 2023-02-01
- date-last-updated: 2023-02-07
- author: gh-jpkt
- title: 2023-02-01-tile-images.liquid.html
- digest: Web app to tile the uploaded images on a page for printing
-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include head/meta--head.liquid.html %}
    {% include head/title--head.liquid.html title=page.title %}
    <link rel="stylesheet" href="/assets/css/2023-02-01-tile-images.css" />
    <script src="/assets/js/2023-02-01-tile-images.js" defer></script>
  </head>
  <body>
    <header class="not-printed">
      <nav>
        <p>{% include body/return-to-home--body.liquid.html %}</p>
      </nav>
      {% include noscript/warning--noscript.liquid.html %}
    </header>
    <main>
      <h1 class="not-printed">{{ page.title }}</h1>
      <section class="not-printed">
        <h2>注意事項</h2>
        <p>現段階では, 用紙サイズと用紙の向きは印刷画面からのみ変更可能です.</p>
      </section>
      <section class="not-printed">
        <h2>設定</h2>
        <p>
          <label for="slc-size">用紙サイズ:</label>
          <select id="slc-size" disabled>
            <option value="a4">A4</option>
          </select>
        </p>
        <p>
          <label for="slc-dir">用紙の向き:</label>
          <select id="slc-dir" disabled>
            <option value="portrait">縦長</option>
            <option value="landscape">横長</option>
          </select>
        </p>
        <p>
          <label for="slc-cols">列数:</label>
          <select id="slc-cols">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </p>
      </section>
      <section class="not-printed">
        <h2>画像ファイルの選択</h2>
        <p>
          <label for="file-images">画像ファイルの選択:</label>
          <input id="file-images" type="file" multiple />
        </p>
      </section>
      <section class="sheet">
        <div class="not-printed">
          <h2>用紙エリア</h2>
          <p>以下の枠内に表示される部分のみが印刷されます.</p>
        </div>
        <div class="page a4-portrait tile-page-1">
          <p>ここに画像が表示されます...</p>
        </div>
        <template id="tpl-tile">
          <img src="" alt="Tiled image" class="tile" />
        </template>
      </section>
    </main>
    <footer class="not-printed"></footer>
  </body>
</html>
