.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.a4-paper-vertical {
  top: 0;
  left: 0;
  border: 1px solid black;
  width: calc(210mm - 24mm);
  height: calc(297mm - 24mm);
}

.a4-paper-horizontal {
  top: 0;
  left: 0;
  border: 1px solid black;
  width: calc(297mm - 24mm);
  height: calc(210mm - 24mm);
}

img {
  width: 100%;
}
